# --- to execute setup.py whatever the goal
setuptools_scm
pytest-runner
six

# --- to run the tests
pytest  #$PYTEST_VERSION
pytest-logging  # ==2015.11.4
pytest-cases>=1.2.0

# --- to generate the reports (see scripts in ci_tools, called by .travis)
# pytest-cov==2.6.0  # after 2.6.1 it requires pytest 3.6
pytest-html==1.9.0  # otherwise requires pytest 5
xunitparser

# --- to generate the doc (see .travis)
# mkdocs-material  #==3.3.0
# mkdocs  # ==1.0.4  # this is to prevent a version non-compliant with mkdocs-material to be installed.
