# .github/workflows/base.yml
name: Build
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test_publish_release:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]  # , macos-latest, windows-latest]
        # python-version: ["2.7", "3.5", "3.6", "3.7", "3.8"]
        include:
          # add a variable for reports + doc publish
          - os: ubuntu-latest
#            python-version: "3.7"
            name_suffix: "+ publish doc and reports"
    name: Run all tests on OS ${{ matrix.os }} ${{ matrix.name_suffix }} # and python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    steps:
      # 1) Checkout a copy of the repo
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # so that gh-deploy works

      # 2) Setup python version 3.8
#      - name: Install python 3.7 for nox
#        uses: actions/setup-python@v1
#        with:
#          python-version: 3.7
#          architecture: x64
      # 2) Add Conda to PATH
#      - name: Add conda to system path
#        run: |
#          # $CONDA is an environment variable pointing to the root of the miniconda directory
#          echo $CONDA/bin >> $GITHUB_PATH
      # 2) Setup conda
      - name: Install conda v3.7
        uses: conda-incubator/setup-miniconda@v2
        with:
          # auto-update-conda: true
          python-version: 3.7
          activate-environment: noxenv
      - name: Initial Conda info
        shell: bash -l {0}  # so that conda works
        run: conda info
      - name: Initial Conda list
        shell: bash -l {0}  # so that conda works
        run: conda list

      # 3) Install nox
      - name: Install noxfile requirements
        shell: bash -l {0}  # so that conda works
        run: pip install -r noxfile-requirements.txt
      - name: Conda list after noxfile requirements installation
        shell: bash -l {0}  # so that conda works
        run: conda list

      # 4) Run nox tests
      - name: Run nox tests on all python versions
        shell: bash -l {0}  # so that conda works
        run: nox -s tests

      # 5) Publish the doc and test reports
      - name: Publish documentation, tests and coverage reports
        if: startsWith(matrix.os,'ubuntu')  # only on one os
        shell: bash -l {0}  # so that conda works
        run: nox -s publish

      # 6) Publish coverage report
      - name: Create codecov.yaml with correct paths
        if: startsWith(matrix.os,'ubuntu')  # only on one os
        shell: bash
        run: |
          cat << EOF > codecov.yml
          # codecov.yml
          fixes:
            - "/home/runner/work/smarie/python-makefun/::" # Correct paths
          EOF
      - name: Publish coverage report
        if: startsWith(matrix.os,'ubuntu')  # only on one os
        uses: codecov/codecov-action@v1
        with:
          files: ./docs/reports/coverage/coverage.xml

      # 7) ON TAGS: Create github release and deploy wheel on PyPi
      - name: Build wheel and create github release
        if: startsWith(matrix.os,'ubuntu') && github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        shell: bash -l {0}  # so that conda works
        run: nox -s release -- ${{ secrets.GITHUB_TOKEN }}
      - name: Deploy on PyPi
        if: startsWith(matrix.os,'ubuntu') && github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
